<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Screen</title>
	<script src="/public/javascripts/socket.io/socket.io.js"></script>
	<script src="/public/javascripts/screen_handler.js"></script>
</head>
<body>
	<h1>Screen</h1>
</body>
</html>